/* Index.html 

header */
#bodyIndex header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 20px;
    padding: 25px 15px;
    background-color: #171616;
    color: white;
}

#bodyIndex header a {
    text-decoration: none;
    color: white;
}

/* footer */
#bodyIndex footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centrar el footer exactamente en el centro */
    width: 100%;
    background-color: #171616;
    display: flex;
    justify-content: center;
}

#bodyIndex footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#bodyIndex footer ul li {
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
}

#bodyIndex footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 14px;
}

a[class='active'] {
    background-color: darkblue;
}

.indicator {
    display: none !important;
}

/* Home */
#home {
    margin: 10px;
}

#home > div {
    margin: 30px 10px;
}

#nextEvents h2, #nextEvents div, #nextEvents p {
    margin: 15px 10px;
}

#nextEvents p {
    background-color: black;
    padding: 30px 15px;
    text-align: center;
    color: white;
}

#nextEvents > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#interests > div {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
}

#interests ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#interests ul li {
    margin-right: 15px;
    padding: 10px;
    border: 1px solid black;
}

#calendar h2, #calendar ul, #calendar p {
    margin: 15px 10px;
}

#calendar h2 {
    text-align: center;
}

#calendar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
}

#calendar ul li {
    margin-right: 10px;
}

#calendar li:not(:last-child) {
    padding: 10px;
    border-right: #171616 1px solid;
}

#calendar li:first-child {
    margin-left: 10px;
}

/* Connections */
#conexiones {
    margin: 10px;
}

#conexiones > div {
    margin: 30px 10px;
}

#editGroups {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#editGroups h2, #conexiones p {
    margin: 15px 10px;
}

#conexiones > p {
    background-color: black;
    color: white;
    padding: 30px 15px;
    text-align: center;
}

#swipeGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

#swipeGroup h2 {
    margin-bottom: 30px;
}

/* Explore */
#explorar {
    margin: 10px;
}

#explorar > div {
    margin: 30px 10px;
}

#search {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px;
}

#search input {
    margin-left: 10px;
    font-size: large;
    border: none;
    color: black;
}

#searchBar:focus {
    outline: none;
    border-color: transparent;
}

#editLocation > p {
    padding: 30px 15px;
    background-color: black;
    color: white;
    text-align: center;
}

#mapDiv {
    width: 500px;
    height: 500px;
}

#searchDate {
    border-bottom: 1px solid black;
}

#searchDate h3 {
    margin-bottom: 15px;
}

#searchDate ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#searchDate ul li {
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

#searchDate ul li:nth-child(n+3) {
    margin-right: 20px;
}

/* Messages */
#mensajes {
    margin: 10px;
}

#mensajes ul {
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#mensajes ul li {
    margin-right: 10px;
}

#mensajes ul li a {
    color: black;
    font-weight: bold;
}

#mensajes ul li a[class='active'] {
    background-color: red;
}

